---
---

$header-heading-color: #a51417;
$header-bg-color: rgba(216, 210, 197, 0.25);
$header-bg-color-secondary: rgba(216, 210, 197, 0.25);
$section-headings-color: #007360;
$body-link-color: #172752;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url(../logo.png), url(../logo.png);
  background-position: 5%, 95%;
  background-repeat: no-repeat, no-repeat;
  background-size: 8%, 8%;
}
